@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizzeria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
</head>
<body>
    <header>
        <div class="d-flex">
            <div class="nav">
                <div class="pt-3">
                    <img alt="Logo pizzeria" src="~/img/logo.jpg" id="logo" />
                </div>
                <ul class="list-unstyled mt-5">
                    <li><a class="fs-4 fw-bold my-4 d-block link">Home</a></li>
                    <li><a class="fs-4 fw-bold my-4 d-block link">Pizze</a></li>
                </ul>
                <ul class="list-unstyled pb-5 mt-auto">
                    <li><i class="my-3 fs-4 fa-solid fa-user"></i></li>
                    <li><i class="my-3 fs-4 fa-solid fa-power-off"></i></li>
                </ul>
            </div>
            <div class="content">
                <h1 class="fw-bold">Dashboard Pizzeria</h1>
                <div class="d-flex justify-content-between align-items-center mt-5 px-4 mb-1">
                    <h2>Elenco Pizze</h2>
                    <i class="fa-solid fa-plus aggiungi"></i>
                </div>
                <div class="container-fluid elenco">
                    <ul class="list-unstyled row mb-5 gy-2 row-cols-5">
                        <li>
                            <a class="card text-center">
                                <div id="id-pizza">
                                    #1
                                </div>
                                <img alt="Immagine pizza" src="~/img/margherita.jpg" class="img-fluid img-card" />
                                <h3 class="my-2 fw-bold">Margherita</h3>
                                <p class="m-2">Impasto ad alta digeribilità, pomodoro, mozzarella, basilico e olio EVO</p>
                                <q>5,00€</q>
                                <div class="d-flex justify-content-between align-items-center gap-2 mx-2 pb-3 mt-4">
                                    <div class="w-50 btn btn-warning">Modifica</div>
                                    <div class="w-50 btn btn-danger">Cancella</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="card text-center">
                                <div id="id-pizza">
                                    #1
                                </div>
                                <img alt="Immagine pizza" src="~/img/margherita.jpg" class="img-fluid img-card" />
                                <h3 class="my-2 fw-bold">Margherita</h3>
                                <p class="m-2">Impasto ad alta digeribilità, pomodoro, mozzarella, basilico e olio EVO</p>
                                <q>5,00€</q>
                                <div class="d-flex justify-content-between align-items-center gap-2 mx-2 pb-3 mt-4">
                                    <div class="w-50 btn btn-warning">Modifica</div>
                                    <div class="w-50 btn btn-danger">Cancella</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="card text-center">
                                <div id="id-pizza">
                                    #1
                                </div>
                                <img alt="Immagine pizza" src="~/img/margherita.jpg" class="img-fluid img-card" />
                                <h3 class="my-2 fw-bold">Margherita</h3>
                                <p class="m-2">Impasto ad alta digeribilità, pomodoro, mozzarella, basilico e olio EVO</p>
                                <q>5,00€</q>
                                <div class="d-flex justify-content-between align-items-center gap-2 mx-2 pb-3 mt-4">
                                    <div class="w-50 btn btn-warning">Modifica</div>
                                    <div class="w-50 btn btn-danger">Cancella</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="card text-center">
                                <div id="id-pizza">
                                    #1
                                </div>
                                <img alt="Immagine pizza" src="~/img/margherita.jpg" class="img-fluid img-card" />
                                <h3 class="my-2 fw-bold">Margherita</h3>
                                <p class="m-2">Impasto ad alta digeribilità, pomodoro, mozzarella, basilico e olio EVO</p>
                                <q>5,00€</q>
                                <div class="d-flex justify-content-between align-items-center gap-2 mx-2 pb-3 mt-4">
                                    <div class="w-50 btn btn-warning">Modifica</div>
                                    <div class="w-50 btn btn-danger">Cancella</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="card text-center">
                                <div id="id-pizza">
                                    #1
                                </div>
                                <img alt="Immagine pizza" src="~/img/margherita.jpg" class="img-fluid img-card" />
                                <h3 class="my-2 fw-bold">Margherita</h3>
                                <p class="m-2">Impasto ad alta digeribilità, pomodoro, mozzarella, basilico e olio EVO</p>
                                <q>5,00€</q>
                                <div class="d-flex justify-content-between align-items-center gap-2 mx-2 pb-3 mt-4">
                                    <div class="w-50 btn btn-warning">Modifica</div>
                                    <div class="w-50 btn btn-danger">Cancella</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="card text-center">
                                <div id="id-pizza">
                                    #1
                                </div>
                                <img alt="Immagine pizza" src="~/img/margherita.jpg" class="img-fluid img-card" />
                                <h3 class="my-2 fw-bold">Margherita</h3>
                                <p class="m-2">Impasto ad alta digeribilità, pomodoro, mozzarella, basilico e olio EVO</p>
                                <q>5,00€</q>
                                <div class="d-flex justify-content-between align-items-center gap-2 mx-2 pb-3 mt-4">
                                    <div class="w-50 btn btn-warning">Modifica</div>
                                    <div class="w-50 btn btn-danger">Cancella</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="card text-center">
                                <div id="id-pizza">
                                    #1
                                </div>
                                <img alt="Immagine pizza" src="~/img/margherita.jpg" class="img-fluid img-card" />
                                <h3 class="my-2 fw-bold">Margherita</h3>
                                <p class="m-2">Impasto ad alta digeribilità, pomodoro, mozzarella, basilico e olio EVO</p>
                                <q>5,00€</q>
                                <div class="d-flex justify-content-between align-items-center gap-2 mx-2 pb-3 mt-4">
                                    <div class="w-50 btn btn-warning">Modifica</div>
                                    <div class="w-50 btn btn-danger">Cancella</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="card text-center">
                                <div id="id-pizza">
                                    #1
                                </div>
                                <img alt="Immagine pizza" src="~/img/margherita.jpg" class="img-fluid img-card" />
                                <h3 class="my-2 fw-bold">Margherita</h3>
                                <p class="m-2">Impasto ad alta digeribilità, pomodoro, mozzarella, basilico e olio EVO</p>
                                <q>5,00€</q>
                                <div class="d-flex justify-content-between align-items-center gap-2 mx-2 pb-3 mt-4">
                                    <div class="w-50 btn btn-warning">Modifica</div>
                                    <div class="w-50 btn btn-danger">Cancella</div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
                
            </div>
        </div>
    </header>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
